.toggle-all {
    position: absolute;
    right: 100%;
    bottom: 100%;
    width: 1px;
    height: 1px;
    opacity: 0;

    + label {
        position: absolute;
        top: 13px;
        left: -13px;
        width: 60px;
        height: 34px;
        transform: rotate(90deg);
        z-index: 100;

        &:before {
            content: '❯';
            font-size: 22px;
            color: #e6e6e6;
            padding: 10px 27px 10px 27px;
        }
    }

    &:checked {
        + label:before {
            color: #737373;
        }
    }
}