.aside-wrap {
    position: absolute;
    top: 8px;
    left: -300px;
    width: 272px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);

    header {
        h3 {
            margin: 10px 0;
            font-size: 24px;
            font-weight: 500;
        }
    }

    a {
        color: #b83f45;
        &:hover {
            text-decoration: underline;
            color: #787e7e;
        }
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px dashed #c5c5c5;
        border-bottom: 1px dashed #f7f7f7;
    }
    
    .aside-content {
        position: relative;
        margin: 20px 0 60px 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, .04);
        border-radius: 5px;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 30px;
            border: 13px solid transparent;
            border-top-color: rgba(0, 0, 0, .04);
        }

        p {
            color: #4d4d4d;
            font-style: italic;

            &::before {
                content: '“';
                position: absolute;
                top: 3px;
                left: 3px;
            
                font-size: 50px;
                opacity: .15;
            }

            &::after {
                content: '”';
                position: absolute;
                bottom: -25px;
                right: 3px;
                font-size: 50px;
                opacity: .15;
            }
        }

        a {
            position: absolute;
            right: 0;
            bottom: -40px;
        }
    }

    footer {
        em {
            color: #4d4d4d;
            font-style: italic;
        }
    }
}

/* 설정 */
@tablet : ~"screen and (min-width: 1150px)";

/* 사용 */
@media @tablet{
	.aside-wrap {
        left: 8px;
    }
}
