.clear-completed {
    display: none;
    position: relative;
    
    float: right;
    line-height: 20px;
    vertical-align: middle;

    border: 0;
    padding: 0;
    background: none;
    color: #777;
    font: inherit;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
    
    &.show {
        display: block;
    }
}