.todo-item {
    position: relative;
    border-bottom: 1px solid #ededed;
    font-size: 24px;

    .toggle {
        position: absolute;
        top: 0;
        bottom: 0;
    
        width: 40px;
        height: 40px;
        margin: auto 0;
        border: none;
    
        text-align: center;
        opacity: 0;

        + label {
            display: inline-block;
            padding: 15px 15px 15px 60px;
            line-height: 1.2;
            background: url('./img/check_off.svg') no-repeat center left;
        }

        &:checked + label {
            background-image: url('./img/check_on.svg');
            color: #d9d9d9;
            text-decoration: line-through;
        }
        
    }

    > .destory {
        position: absolute;
        top: 50%;
        right: 10px;
    
        font-size: 20px;
        line-height: 20px;
        color: #cc9a9a;
        opacity: 0;
        border: none;
        transition: color 0.2s ease-out;
        transform: translateY(-50%);
        background-color:transparent; 
    }

    &:hover > .destory {
        opacity: 1;
    }
}