.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;

    > li {
        display: inline;

        > a {
            margin: 3px;
            padding: 3px 7px;
            border: 1px solid transparent;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                border-color: rgba(175, 47, 47, 0.1);
            }
        }

        > .selected {
            border-color: rgba(175, 47, 47, 0.2) !important;
        }
    }
}