.todo-input {
    display: block;
    position: relative;

    width: 100%;

    margin: 0;
    border: none;
    padding: 16px 16px 16px 60px;

    box-sizing: border-box;
    font-size: 24px;
    line-height: 1.4em;
    background-color: rgba(0, 0, 0, 0.004);
    z-index: 10;

    &:focus {
        outline: none;
    }
}