.todo-app {
    position: relative;
    width: 550px;
    margin: 130px auto 40px auto;

    > h1 {
        position: absolute;
        top: -70px;
        width: 100%;
        text-align: center;
        font-size: 100px;
        font-weight: 100;
        color: rgba(175, 47, 47, 0.15);
    }
}