.todo-footer {
    display: none;
    height: 20px;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    color: #777;

    &.show {
        display: block;
    }

    a {
        text-decoration: none;
        color: #777;
    }
}