.app-footer {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    text-align: center;
    
    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}